#hero {
  background-image: url("Assets/homepageSwitzerland8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border: 2px solid;
  /* padding: 10px; */
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#userCity {
  opacity: 0.5;
}

#userCity:focus {
  opacity: 1;
}

#cardOne {
  background-image: url("Assets/Bali-Black&White.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#cardOne:hover {
  background-image: url("Assets/Bali.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#cardTwo {
  background-image: url("Assets/Paris-Black&White.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#cardTwo:hover {
  background-image: url("Assets/Paris.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#cardThree {
  background-image: url("Assets/Mykonos- Black&White.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#cardThree:hover {
  background-image: url("Assets/Mykonos.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#btnFavourite:hover {
  font-weight: bold;
}

#btnSearch:hover {
  font-weight: bold;
}
